.nav {
    width: 100%;
    height: 60px;
}

.nav-background {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 60px;
    opacity: 0.9;

    background-color: #fff;
    -webkit-box-shadow: 0 0 18px rgba(17, 17, 17, .12);
    -moz-box-shadow: 0 0 18px rgba(17, 17, 17, .12);
    box-shadow: 0 0 18px rgba(17, 17, 17, .12);
}

.nav__menu-icon {
    width: 15px;
    height: 11px;
    padding: 20px;
}

.search-bar {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-items: start;
    align-items: center;
    width: 330px;
    height: 14px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    margin: 13px 12px 14px 12px;
    padding: 11px 15px 10px 17px;
    border: solid 1px #cccccc;
    background-color: #fff;
}

.search-bar__icon {
    width: 11px;
    height: 11px;

    padding-left: 15px;
}

.text-field {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-items: start;
    align-items: center;
}

.search-bar__hint {
    width: 100%;
    height: min-content;
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #8b8b8b;
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-items: start;
    align-items: center;
    column-gap: 35px;
    padding: 0 35px 0;
}

.nav-bar__power {
    width: 14px;
    height: 15px;
}

.nav-bar__setting {
    width: 29px;
    height: 32px;
}

.nav-bar__chat {
    width: 30px;
    height: 26px;
}

.nav-bar__notification {
    width: 27px;
    height: 28px;
}

.nav-bar__fullscreen {
    width: 16px;
    height: 16px;
}