* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: flex-start;
}

.drawer {
  background-color: #313131;
  height: 100%;
  width: 61px;
}

.dashboard {
  width: calc(100% - 61px);
  height: 100%;
}

/*
Lato-Bold
Montserrat-Regular
OpenSans
OpenSans-Bold
OpenSans-Semibold
*/
.logo {
  display: flex;
  flex-flow: column;
  height: auto;
  width: auto;
  background-color: transparent;
  margin: 12px 0 12px;
}

.logo__top_lines {
  display: flex;
  flex-shrink: 0;
  width: 52px;
  padding: 0 7px 0 2px;
}

.logo__title {
  padding: 4px 9px 0 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.7px;
  text-align: left;
  color: #ffffff;
}

.logo__version {
  padding: 4px 13px 4px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  color: #ff6a6a;
}

.logo__bottom_lines {
  display: flex;
  flex-shrink: 0;
  width: 53px;
  padding: 0 4px;
}

.drawer-profile {
  display: flex;
  flex-flow: column;
  height: auto;
  width: auto;
  margin: 73px 0 49px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.avatar {
  display: flex;
  width: 37px;
  height: 41px;
}

.avatar__background {
  position: absolute;
  width: 37px;
  height: 37px;
}

.avatar__pic {
  object-fit: cover;
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 18px 19px 19px 18px/19px 19px 18px 18px;
  background-color: #d6d7cf;
}

.avatar__online {
  position: absolute;
  width: 37px;
  height: 37px;
}

.avatar__check {
  position: absolute;
  width: 37px;
  height: 37px;
}

.drawer-profile__initials {
  width: -webkit-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: min-content;
  padding: 9px 0;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.drawer-profile__position {
  width: -webkit-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: min-content;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 10.08pt;
  letter-spacing: normal;
  text-align: center;
  color: #7c7c7c;
}

.menu-icon__background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 42px;
  background-color: #181818;
}

.menu-icon__icon {
  width: 15px;
  height: 11px;
}

.menu-icon__underline {
  width: 62px;
  height: 3px;
  background-color: #101010;
}

.menu-sections {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  padding: 0 0 30px;
}

.menu-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  padding: 7px 0 7px;
}

.menu-section__title {
  width: -webkit-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: min-content;
  font-family: "OpenSans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #909090;
  padding: 15px 0 15px;
}

.menu-item {
  display: flex;
  width: 100%;
  height: 61px;
  align-items: center;
  justify-content: center;
}

.menu-section__menu-icon {
  width: 19px;
  height: 19px;
}

.menu-item_active {
  background-color: red;
}

.nav {
  width: 100%;
  height: 60px;
}

.nav-background {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 60px;
  opacity: 0.9;
  background-color: #fff;
  box-shadow: 0 0 18px rgba(17, 17, 17, 0.12);
}

.nav__menu-icon {
  width: 60px;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-shrink: 0;
  flex-flow: row-reverse nowrap;
  justify-content: start;
  align-items: center;
  width: 330px;
  height: 33px;
  border-radius: 20px;
  margin: 13px 12px 14px 12px;
  padding: 11px 15px 10px 17px;
  border: solid 1px #cccccc;
  background-color: #fff;
  overflow: hidden;
}

.search-bar__icon {
  width: 11px;
  height: 11px;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.text-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-items: start;
  align-items: center;
}

.search-bar__hint {
  width: 100%;
  height: -webkit-min-content;
  height: min-content;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #8b8b8b;
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-items: start;
  align-items: center;
  column-gap: 35px;
  padding: 0 35px 0;
}

.nav-bar__power {
  width: 14px;
  height: 15px;
}

.nav-bar__setting {
  width: 29px;
  height: 32px;
}

.nav-bar__chat {
  width: 30px;
  height: 26px;
}

.nav-bar__notification {
  width: 27px;
  height: 28px;
}

.nav-bar__fullscreen {
  width: 16px;
  height: 16px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
  color: #313131;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
  color: #313131;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
  color: #313131;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #a6a6a6;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14.6px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
  color: #313131;
}

.black-900 {
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #313131;
}

.dashboard-container, .statistics, .dashboard-content .map, .dashboard-content .dashboard-title {
  width: 100%;
  height: -webkit-min-content;
  height: min-content;
  padding: 16px 28px 32px 26px;
  border-bottom: 1px solid #e7e7e7;
}

.dashboard-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-items: start;
  align-items: start;
}
.dashboard-content .map-control {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 41px;
  border: solid 1px #cccccc;
}
.dashboard-content .map-control-container {
  display: flex;
  width: 41px;
  height: 41px;
  align-items: center;
  justify-content: center;
}
.dashboard-content .map-control .map-control-container + .map-control-container {
  border-top: solid 1px #cccccc;
}
.dashboard-content .map__content {
  width: 100%;
  height: 100%;
}

.statistics {
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: row;
}
.statistics-container {
  display: flex;
  flex-flow: column nowrap;
  justify-items: start;
  align-items: start;
  width: 100%;
  height: -webkit-min-content;
  height: min-content;
  padding: 22px 16px 22px 37px;
  position: relative;
}
.statistics .statistics-container + .statistics-container {
  height: auto;
  border-left: 1px solid #e7e7e7;
}
.statistics-heading {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
}
.statistics-heading__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.statistics-heading__arrow {
  width: 7px;
  height: 9px;
}
.statistics-heading__percent, .statistics-heading__percent-down, .statistics-heading__percent-up {
  font-family: "Open Sans", sans-serif;
  font-size: 14.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
}
.statistics-heading__percent-up {
  color: #2fad35;
}
.statistics-heading__percent-down {
  color: #ff494a;
}
.statistics__graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.statistics-vertical-graphs {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}
.statistics-vertical-graph-header {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: space-between;
}
.statistics-vertical-graph-header__title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #7b7b7b;
}
.statistics-vertical-graph-header__percent, .statistics-vertical-graph-header__percent-yesterday, .statistics-vertical-graph-header__percent-today {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 6px 3px 6px;
  border-radius: 11px;
  border: solid 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.statistics-vertical-graph-header__percent-today {
  color: #2abb9b;
}
.statistics-vertical-graph-header__percent-yesterday {
  color: #4f80e1;
}
.statistics-vertical-graph__graph {
  width: 100%;
}